
<nav class="navbar navbar-default ct-navbar--logoright" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav yamm">
      <li class="active"><a href="index-2.html">Home</a></li>
      <li class="dropdown">
        <a href="about-us.html">Pages</a>
        <ul class="dropdown-menu">
          <li class="dropdown-submenu">
            <a href="about-us.html">About Us</a>
            <ul class="dropdown-menu">
              <li><a href="about-us.html">About Us</a></li>
              <li><a href="about-me.html">About Me</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a href="team.html">Our Team</a>
            <ul class="dropdown-menu">
              <li><a href="team.html">Our Team</a></li>
              <li><a href="team2.html">Our Team 2</a></li>
              <li><a href="team-member.html">Team Member</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a href="history.html">Our History</a>
            <ul class="dropdown-menu">
              <li><a href="history.html">Our History</a></li>
              <li><a href="history2.html">Our History 2</a></li>
            </ul>
          </li>
          <li><a href="office.html">Our Office</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="careers.html">Career Page</a></li>
          <li class="dropdown-submenu">
            <a href="testimonials.html">Other Pages</a>
            <ul class="dropdown-menu">
              <li><a href="testimonials.html">Testimonials</a></li>
              <li><a href="faq.html">FAQ Page</a></li>
              <li><a href="404.html">404 Page</a></li>
              <li><a href="maintenance.html">Maintenace Page</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="gallery1.html">Gallery</a>
        <ul class="dropdown-menu">
          <li><a href="gallery1.html">Gallery 1</a></li>
          <li><a href="gallery2.html">Gallery 2</a></li>
          <li><a href="gallery3.html">Gallery 3</a></li>
        </ul>
      </li>
      <li class="dropdown yamm-fw">
        <a href="gallery1.html">Features</a>
        <ul class="dropdown-menu">
          <li>
            <div class="yamm-content">
              <h5 class="text-uppercase">Features
                <small>We packed Macaroon with everything in mind!</small>
              </h5>
              <div class="row">
                <div class="col-sm-3">
                  <ul class="list-unstyled">
                    <li><a href="features-grid.html"><i class="fa fa-fw fa-th"></i> Grid System</a></li>
                    <li><a href="features-typography.html"><i class="fa fa-fw fa-font"></i> Typography</a></li>
                    <li><a href="features-buttons.html"><i class="fa fa-fw fa-link"></i> Buttons</a></li>
                    <li><a href="features-forms.html"><i class="fa fa-fw fa-align-justify"></i> Forms</a></li>
                    <li><a href="features-tables.html"><i class="fa fa-fw fa-table"></i> Tables</a></li>
                  </ul>
                </div>
                <div class="col-sm-3">
                  <ul class="list-unstyled">
                    <li><a href="features-p-tables.html"><i class="fa fa-fw fa-money"></i> Pricing Tables</a>
                    </li>
                    <li><a href="features-iconboxes.html"><i class="fa fa-fw fa-th-large"></i> Icon Boxes</a>
                    </li>
                    <li><a href="features-personboxes.html"><i class="fa fa-fw fa-users"></i> Person Boxes</a>
                    </li>
                    <li><a href="features-counters.html"><i class="fa fa-fw fa-plus"></i> Counters</a></li>
                    <li><a href="features-toggable.html"><i class="fa fa-fw fa-toggle-on"></i> Toggables</a>
                    </li>
                  </ul>
                </div>
                <div class="col-sm-3">
                  <ul class="list-unstyled">
                    <li><a href="features-charts.html"><i class="fa fa-fw fa-area-chart"></i> Charts</a></li>
                    <li><a href="features-p-bars.html"><i class="fa fa-fw fa-bars"></i> Progress Bars</a></li>
                    <li><a href="features-p-icons.html"><i class="fa fa-fw fa-star-half-full"></i> Progress
                      Icons</a></li>
                    <li><a href="features-lists.html"><i class="fa fa-fw fa-list"></i> Lists Simple</a></li>
                    <li><a href="features-lists2.html"><i class="fa fa-fw fa-list"></i> Lists Icons</a></li>
                  </ul>
                </div>
                <div class="col-sm-3">
                  <ul class="list-unstyled">
                    <li><a href="features-sections.html"><i class="fa fa-fw fa-navicon"></i> Sections</a></li>
                    <li><a href="features-m-sections.html"><i class="fa fa-fw fa-play"></i> Media Sections</a>
                    </li>
                    <li><a href="features-developers.html"><i class="fa fa-fw fa-code"></i> For developers</a>
                    </li>
                    <li>
                      <a href="http://createit.pl/" target="_blank"><img src="assets/images/demo-content/createit.png" alt="createIT"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="blog-list.html">Blog</a>
        <ul class="dropdown-menu">
          <li><a href="blog-list.html">Blog List</a></li>
          <li><a href="blog-masonry.html">Blog Masonry</a></li>
          <li><a href="blog-single.html">Blog Single</a></li>
        </ul>
      </li>
      <li><a href="contact.html">Get in touch</a></li>
    </ul>
    <div class="pull-right">
      <ul class="ct-socials list-inline list-unstyled">
        <li>
          <a href="https://www.facebook.com/createITpl" data-toggle="tooltip" data-placement="left" title="" data-original-title="Facebook"><i class="fa fa-fw fa-facebook-square"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/createitpl" data-toggle="tooltip" data-placement="left" title="" data-original-title="Twitter"><i class="fa fa-fw fa-twitter"></i></a>
        </li>
        <li>
          <a href="#" data-toggle="tooltip" data-placement="left" title="" data-original-title="Pinterest"><i class="fa fa-fw fa-pinterest"></i></a>
        </li>
        <li>
          <a href="#" data-toggle="tooltip" data-placement="left" title="" data-original-title="LinkedIn"><i class="fa fa-fw fa-linkedin"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section class="ct-u-backgroundGray">
  <router-outlet>
  </router-outlet>
</section>




